{
   "presets": [
      "airbnb",
      [
         "@babel/preset-env",
         {
            "targets": {
              "node": "current",
              "browsers": [
                "last 2 versions",
                "> 1.5%"
              ]
            },
            "useBuiltIns": "usage",
            "corejs": 3
         }
      ]
   ]
}
